In [1]:
# how to take multiple input using single input function

In [3]:
x = input("Enter 3 values seperated by space: ")

Enter 3 values seperated by space: 12 13 14

In [4]:
x

'12 13 14'

In [6]:
x.split()

['12', '13', '14']

In [7]:
a,b,c = x.split()

In [8]:
print(a)
print(b)
print(c)

12
13
14

In [9]:
type(a)

str

In [10]:
a,b,c=int(a),int(b),int(c)

In [11]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [13]:
a,b,c = input("Enter 3 values seperated by space: ").split()
a,b,c = int(a),int(b),int(c)
a,b,c

Enter 3 values seperated by space: 12 14 15

(12, 14, 15)

In [14]:
x = input("Enter 3 values seperated by space: ").split()
y=[]
for n in x:
    y.append(int(n))
y

Enter 3 values seperated by space: 12 14 16

[12, 14, 16]

In [17]:
# using list comprehension
x = [int(i) for i in input("Enter 3 values seperated by space: ").split()]

Enter 3 values seperated by space: 21 34 76

In [18]:
x

[21, 34, 76]

In [23]:
#q.9

class_att = int(input("class_att: "))
class_held = int(input("class_held: "))
per_att = class_att*100/class_held
print(per_att)
med_ca = input("medical cause Y/N: ")

if med_ca.lower() == 'y':
    print("allowed")
else:
    if per_att >= 75:
        print("allowed")
    else:
        print("not allowed")

class_att: 15
class_held: 20
75.0
medical cause Y/N: N
allowed

# H.W. for dictionary

In [25]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [26]:
sampleDict

{'class': {'student': {'name': 'Mike',
   'marks': {'physics': 70, 'history': 80}}}}

In [ ]:
# Print the marks in history
# print the name of the subjects student applied for
# print the average of marks student got in all the subjects