In [1]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [2]:
# Print the marks in history
# print the name of the subjects student applied for
# print the average of marks student got in all the subjects

In [3]:
sampleDict

{'class': {'student': {'name': 'Mike',
   'marks': {'physics': 70, 'history': 80}}}}

In [9]:
sampleDict['class']['student']['marks']['history']

80

In [14]:
sampleDict['class']['student']['marks'].keys()

dict_keys(['physics', 'history'])

In [20]:
total = sum(sampleDict['class']['student']['marks'].values())
n = len(sampleDict['class']['student']['marks'].values())

avg = total/n
avg

75.0

In [21]:
# Q. A 4 digit number is entered through keyboard. 
# Write a program to print a new number with digits 
# reversed as of orignal one. 
# E.g.-
# INPUT : 1234        OUTPUT : 4321
# INPUT : 5982        OUTPUT : 2895

In [27]:
# num = int(input("Enter a 4 digit no.: "))
num = 1234
int(str(num)[::-1])
# print(int(str(num)[::-1]))

4321

In [32]:
num = 1234 

fourth = (num%10)   #4
num = int(num/10)   #123
third = num%10      #3
num = int(num/10)   #12
second = num%10     #2
first = int(num/10) #1 

fourth, third, second, first

out = fourth*1000 + third*100 + second*10 + first
out

4321

In [33]:
# print("Enter number")
# number = int(input()) 
number = 1234
#seperating digits of the number 

#1234/1000 = 1 #1234%1000 = 234 
first = int(number/1000) 
rem = number%1000 

#234/100 = 2 #234%100 = 34 
second = int(rem/100) 
rem = rem%100 

#34/10 = 3 #34%10 = 4 
third = int(rem/10) 
fourth = int(rem%10) 

#creating new number with digits reversed 
#1234 = (1*1000)+(2*100)+(3*10)+4 i.e., 1000+200+30+4 

new_number = (fourth*1000)+(third*100)+(second*10)+(first) 
print(new_number)

4321

In [34]:
# Q. Write a program to check if a year is leap year or not.

# NOTE: If a year is divisible by 4 then it is leap year 
# but if the year is century year like 2000, 1900, 2100 
# then it must be divisible by 400.

In [44]:
year = int(input("Enter a 4 digit year: "))

if (year%4 == 0):
    if (year%100==0) and (year%400==0):
        print("leap year")
    elif (year%100==0) and (year%400!=0):
        print("Not leap year")
    else:
        print("leap year")
else:
    print("Not a leap year")

Enter a 4 digit year: 2000
leap year

# For-Else

In [46]:
l = ['a','b','c','d','e']

for i in l:
    print(i)

a
b
c
d
e

In [47]:
for i in l:
    print(i)
else:
    print("for loop finished")

a
b
c
d
e
for loop finished

In [48]:
for i in l:
    print(i)

print("for loop finished")

a
b
c
d
e
for loop finished

In [51]:
for i in l:
    if i=='c':
        break
    print(i)
    
print("for loop finished")

a
b
for loop finished

In [52]:
for i in l:
    if i=='c':
        break
    print(i)
else:
    print("for loop finished")

a
b

# While loop

In [54]:
# syntax:

# while <condition>:
#     print()

In [59]:
# i=0
# while 1==1:
#     i=i+1
#     print(i)

In [60]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

# break / pass / continue

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
# c-programming
# for(){
# }

In [64]:
for i in range(10):
    pass

In [66]:
i=0
if i<5:
    pass

In [67]:
for i in range(10):
    None

In [68]:
type(None)

NoneType

In [69]:
a = None

In [71]:
a = pass

SyntaxError: invalid syntax (Temp/ipykernel_2948/3495732638.py, line 1)

In [72]:
for i in range(10):
    print(i)
    pass

0
1
2
3
4
5
6
7
8
9

In [75]:
for i in range(10):
    if i==5:
        break
    print(i)
    
print("This line is after for loop")

0
1
2
3
4
This line is after for loop

In [81]:
for i in range(10):
    print('Hi')
    if i==5:
        continue
    print(i)
    print('hello')
    
print("This line is after for loop")

# continue: will skip all lines from for loop written below continue statement
# for that perticular iteration

Hi
0
hello
Hi
1
hello
Hi
2
hello
Hi
3
hello
Hi
4
hello
Hi
Hi
6
hello
Hi
7
hello
Hi
8
hello
Hi
9
hello
This line is after for loop