In [1]:
# Exercise 6: Count the total number of digits in a number

In [26]:
num = int(input("Enter a number: "))
#num = 12345
count = 0

if num > 0:
    while num>0:
        num = num // 10  # num = int(num/10)
        count=count+1
else:
    while num!=0:
        num = int(num / 10)
        count = count+1
        
count

Enter a number: -123

3

In [30]:
# Works for positive as well as neggative number

num = int(input("Enter a number: "))
count = 0

while num!=0:
        num = int(num / 10)  # num = int(num/10)
        count=count+1
        
count

Enter a number: 1234567

7

In [15]:
## Using for loop (works but Useless code)

# num = int(input("Enter a number: "))
num = 12345

# len(str(num))  # = Answer

count = 0
for i in range(len(str(num))):
    count = count+1
    
count

5

# List comprehension

In [1]:
l = [1,2,3,4,5,6,7,8,9,10,11]

In [32]:
# print the even number from list l

for i in l:
    if i%2==0:
        print(i)

2
4
6
8
10

In [33]:
# create a new list with the even number from list l

out=[]
for i in l:
    if i%2==0:
        out.append(i)
        
out

[2, 4, 6, 8, 10]

In [36]:
[i for i in l]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [37]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [38]:
[i for i in l if i%2==0]

[2, 4, 6, 8, 10]

In [39]:
[i**2 for i in l if i%2==0]

[4, 16, 36, 64, 100]

In [40]:
# set comprehension
{i**2 for i in l if i%2==0}

{4, 16, 36, 64, 100}

In [41]:
# tuple comprehension
(i**2 for i in l if i%2==0)

In [42]:
tuple(i**2 for i in l if i%2==0)

(4, 16, 36, 64, 100)

In [43]:
list(i**2 for i in l if i%2==0)

[4, 16, 36, 64, 100]

In [44]:
set(i**2 for i in l if i%2==0)

{4, 16, 36, 64, 100}

In [45]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [46]:
[i+10 for i in l]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [47]:
[i**2, i+10 for i in l]

SyntaxError: invalid syntax (Temp/ipykernel_19640/114683020.py, line 1)

In [48]:
[(i**2, i+10) for i in l]

[(1, 11),
 (4, 12),
 (9, 13),
 (16, 14),
 (25, 15),
 (36, 16),
 (49, 17),
 (64, 18),
 (81, 19),
 (100, 20),
 (121, 21)]

In [49]:
[(i**2, i+10) for i in l if i%2==0]

[(4, 12), (16, 14), (36, 16), (64, 18), (100, 20)]

In [50]:
[(i**2, i+10) for i in l if (i>3) and (i<8)]

[(16, 14), (25, 15), (36, 16), (49, 17)]

In [53]:
# for is applicable on on iterable objects (i.e. collection of objects):
# -> str, list, tuple, set, dict, etc.

In [58]:
# whenever you want to apply for loop on int, 
# you have to use range function

In [61]:
# Q. put square of element from l for all even elements of l 
# and put 0 for all odd elements of l

[i**2 for i in l if i%2==0 else 0]

SyntaxError: invalid syntax (Temp/ipykernel_19640/3165513565.py, line 4)

In [62]:
[i**2 if i%2==0 else 0 for i in l]

[0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0]

In [63]:
# Expanded version of above 1 line code

out=[]
for i in l:
    if i%2==0:
        out.append(i**2)  
    else:
        out.append(0)
        
out

[0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0]

In [64]:
[i**2 for i in l if i%2==0]

[4, 16, 36, 64, 100]

In [65]:
# Expanded version of above 1 line code

out = []
for i in l:
    if i%2==0:
        out.append(i**2)
out

[4, 16, 36, 64, 100]

In [66]:
# Wrong syntax if you use 'if' condition without 'else' condition

[i**2 if i%2==0 for i in l]

SyntaxError: invalid syntax (Temp/ipykernel_19640/93137958.py, line 1)

In [3]:
# list
[i**2 for i in l if i%2==0]
list(i**2 for i in l if i%2==0)

[4, 16, 36, 64, 100]

In [6]:
# tuple
tuple(i**2 for i in l if i%2==0)

(4, 16, 36, 64, 100)

In [8]:
#set
{i**2 for i in l if i%2==0}
set(i**2 for i in l if i%2==0)

{4, 16, 36, 64, 100}

In [10]:
# dict
d = {1:'a', 2:'b', 3:'c'}

In [11]:
{k:v for k,v in d.items()}

{1: 'a', 2: 'b', 3: 'c'}

In [13]:
{k**2:v for k,v in d.items()}

{1: 'a', 4: 'b', 9: 'c'}

In [14]:
{k**2:v*2 for k,v in d.items()}

{1: 'aa', 4: 'bb', 9: 'cc'}

In [17]:
# wrong syntax:

dict(k**2:v*2 for k,v in d.items())

SyntaxError: invalid syntax (Temp/ipykernel_21032/1071621181.py, line 3)