In [1]:
# For loop

In [2]:
# SYNTAX:
# for i in <object>:
#     pass

In [3]:
s = "apdaga"

In [4]:
for i in s:
    print(i)

a
p
d
a
g
a

In [5]:
l = [1,2,3,4,5]

for i in l:
    print(i**2)

1
4
9
16
25

In [6]:
t = (1,2,3,4,5)

for i in t:
    print(i**2)

1
4
9
16
25

In [7]:
s = {1,2,3,4,5}

for i in s:
    print(i**2)

1
4
9
16
25

In [9]:
d = {1:'one', 2:'two', 3:'three'}

for i in d:
    print(i)

1
2
3

In [11]:
for k in d.keys():
    print(k)

1
2
3

In [12]:
for v in d.values():
    print(v)

one
two
three

In [13]:
for k,v in d.items():
    print(k,v)

1 one
2 two
3 three

In [14]:
# for (i=0;i<=10;i++) # print 0 to 10

In [16]:
r = range(10)

In [17]:
r

range(0, 10)

In [18]:
type(r)

range

In [19]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(3,10,1))

[3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(3,10,2))

[3, 5, 7, 9]

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [28]:
l = ['a','b','c','d','e','f']

for i in range(len(l)):
    print(i, l[i])

0 a
1 b
2 c
3 d
4 e
5 f

In [29]:
l = ['a','b','c','d','e','f',[1,2,3]]

for i in l:
    print(i)

a
b
c
d
e
f
[1, 2, 3]

In [30]:
for i in l:
    if (type(i) == str):
        print(i)
    elif (type(i) == list):
        for j in i:
            print(j)

a
b
c
d
e
f
1
2
3

In [32]:
l1 = [232,44.3,'akshay',41,True,[4,3,7,2,'daga'],5,(2.3,6,4),'mayuri']

In [35]:
# 1. Print all the integer elements from l (ignore nested list/tuple)

# 2. print all the integers from l 
# (even if it inside nested list/tuple)

# 3. print all the charecter seperately from l 
# (even if it inside nested list/tuple)

# 4. create a new list having all the string elements from given list
# (even if it inside nested list/tuple)

In [39]:
# 1. Print all the integer elements from l (ignore nested list/tuple)
for i in l1:
    if (type(i) == int):
        print(i)

232
41
5

In [41]:
# 2. print all the integers from l 
# (even if it inside nested list/tuple)
# Expected output = 232,41,4,3,7,2,5,6,4

for i in l1:
    if type(i) == int:
        print(i)

    elif (type(i) == list) or (type(i) == tuple):
        for j in i:
            if (type(j) == int):
                print(j)

232
41
4
3
7
2
5
6
4

In [42]:
for i in l1:
    if type(i) == int:
        print(i)

    elif (type(i) in [list,tuple]):
        for j in i:
            if (type(j) == int):
                print(j)

232
41
4
3
7
2
5
6
4

In [43]:
# Exercise 1: Print First 10 natural numbers using while loop
# Exercise 2: Print the following pattern
# Exercise 3: Calculate the sum of all numbers from 1 to a given number
# Exercise 4: Write a program to print multiplication table of a given number
# Exercise 5: Display numbers from a list using loop
# Exercise 6: Count the total number of digits in a number
# Exercise 7: Print the following pattern
# Exercise 8: Print list in reverse order using a loop
# Exercise 9: Display numbers from -10 to -1 using for loop
# Exercise 10: Use else block to display a message “Done” after successful execution of for loop
# Exercise 11: Write a program to display all prime numbers within a range
# Exercise 12: Display Fibonacci series up to 10 terms
# Exercise 13: Find the factorial of a given number
# Exercise 14: Reverse a given integer number
# Exercise 15: Use a loop to display elements from a given list present at odd index positions
# Exercise 16: Calculate the cube of all numbers from 1 to a given number
# Exercise 17: Find the sum of the series upto n terms
# Exercise 18: Print the following pattern

In [46]:
# ANSWERS:
# https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

In [48]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [49]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [51]:
list(range(2,15,3))

# for(i=2;i<15;i=i+3)    # c
# for i in range(2,15,3) # python

[2, 5, 8, 11, 14]