# Functions with multiple arguments

In [2]:
def test(a,b,c,d,e):
    print(a,b,c,d,e)

In [3]:
test(1,2,4,3,5)

1 2 4 3 5

In [5]:
def test1(*args):
    return args

In [6]:
test1(1,7,"akshay",45.6)

(1, 7, 'akshay', 45.6)

In [7]:
def test2(*daga):
    return daga

In [8]:
test2(453,67.86,"apdaga")

(453, 67.86, 'apdaga')

In [10]:
def test3(*args, a):
    return args, a

In [11]:
test3(34,86,'akshay',45.6)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [12]:
test3(34,86,'akshay', a=45.6)

((34, 86, 'akshay'), 45.6)

In [13]:
def test4(*args, a, b, c, d):
    return args, a, b, c, d

In [14]:
test4('sdf',324,21, a=[43,3,4,3,4], b=[5,3,7,4,2], c="hkjhfds", d=342.34)

(('sdf', 324, 21), [43, 3, 4, 3, 4], [5, 3, 7, 4, 2], 'hkjhfds', 342.34)

In [18]:
def test5(a, *args):
    return a,args

In [19]:
test5("sfds", 5,6,3, a="sjhgj")

TypeError: test5() got multiple values for argument 'a'

In [20]:
test5("sfds", 5,6,3, "sjhgj")

('sfds', (5, 6, 3, 'sjhgj'))

In [21]:
test5(a="sjhgj","sfds", 5,6,3,)

SyntaxError: positional argument follows keyword argument (<ipython-input-21-3d2fc98cba38>, line 1)

In [22]:
def test6(a, *args, b, c):
    return a, args, b, c

In [24]:
test6("apdaga", [3,4,6,3], 345, 343, 564)

TypeError: test6() missing 2 required keyword-only arguments: 'b' and 'c'

In [25]:
test6("apdaga", [3,4,6,3], 345, b=343, c=564)

('apdaga', ([3, 4, 6, 3], 345), 343, 564)

In [27]:
# Write a function in such a way that user can pass anything as arguments 
# to the function but the function will return only list out of all possible arguments

In [30]:
def selectList(*args):
    '''
    This function will return only list out of all possible arguments
    '''
    out = []
    for i in args:
        if type(i) == list:
            out.append(i)
    return tuple(out)

In [31]:
selectList(23,43,23,[23,34,32,43,23,3],(2,4,32,3,3),"sdf",[24,34,"sdf"])

([23, 34, 32, 43, 23, 3], [24, 34, 'sdf'])

# Write a function which will be able take 'n' number of argument but as key-value pair

In [34]:
def test7(**kwargs):
    return kwargs

In [35]:
test7(23,32,54,23,43,23)

TypeError: test7() takes 0 positional arguments but 6 were given

In [36]:
test7(a="dsf", b=34, c=[3,5,3,4])

{'a': 'dsf', 'b': 34, 'c': [3, 5, 3, 4]}

In [37]:
def test8(**akshay):
    return akshay

In [38]:
test8(a="dsf", b=(342,32,42,43), c=434)

{'a': 'dsf', 'b': (342, 32, 42, 43), 'c': 434}

In [40]:
test8(name="Akshay Daga", age=29, addr="Amravati", mob='9028385899', mail='apdaga.dumpbox@gmail.com')

{'name': 'Akshay Daga',
 'age': 29,
 'addr': 'Amravati',
 'mob': '9028385899',
 'mail': 'apdaga.dumpbox@gmail.com'}

In [41]:
def test9(a, **kwargs):
    return a, kwargs

In [42]:
test9(34,d=54,c=23,b=54,m=4,l=454,j=45)

(34, {'d': 54, 'c': 23, 'b': 54, 'm': 4, 'l': 454, 'j': 45})

In [43]:
def test10(a, **kwargs, *args):
    return a, kwargs, args

SyntaxError: invalid syntax (<ipython-input-43-0c1258a10273>, line 1)

In [44]:
def test11(a, *args, **kwargs):
    return a, args, kwargs

In [48]:
def test11(*args, **kwargs, a):
    return a, args, kwargs

SyntaxError: invalid syntax (<ipython-input-48-6caab2276bb9>, line 1)

In [47]:
test11(34,65,34,"dsdsf",654,43,c='ds',f=543)

(34, (65, 34, 'dsdsf', 654, 43), {'c': 'ds', 'f': 543})

In [49]:
def test12(a,b):
    return a*b

In [50]:
test12(5,7)

35

# Lambda Function: How to create anonymous function

In [51]:
lambda a,b: a*b

In [55]:
f1 = lambda a,b : a*b

In [56]:
f1(4,7)

28

In [58]:
f2 = lambda a,b : (a*b, a+b)

In [59]:
f2(5,7)

(35, 12)

In [60]:
f3 = lambda *a:a

In [61]:
f3(34,3,3423,2)

(34, 3, 3423, 2)

In [62]:
f4 = lambda **b:b

In [64]:
f4(a=34,b=34)

{'a': 34, 'b': 34}

In [66]:
f5 = lambda x: (for i in x: print(i))

SyntaxError: invalid syntax (<ipython-input-66-93aac46a63d0>, line 1)

In [67]:
f5 = lambda x: (print(i) for i in x)

In [68]:
f5([2,3,5,3,5])

In [75]:
f5 = lambda x: [i for i in x]

In [76]:
f5([2,3,5,3,5])

[2, 3, 5, 3, 5]

In [77]:
l = [1,2,3,4,5,6]

In [82]:
x=[]
for i in l:
    x.append(i)
x

[1, 2, 3, 4, 5, 6]

In [85]:
y = [i for i in l]

In [86]:
y

[1, 2, 3, 4, 5, 6]

In [89]:
z = [i**2 for i in l]
z

[1, 4, 9, 16, 25, 36]

In [105]:
[(i**2,i+2) for i in l]

[(1, 3), (4, 4), (9, 5), (16, 6), (25, 7), (36, 8)]

In [108]:
[(i**2,i+2) for i in l if i < 3 and i > 1]

[(4, 4)]

In [103]:
f7 = lambda x: [i+2 for i in x]

In [104]:
f7([1,2,3,4,5,6])

[3, 4, 5, 6, 7, 8]

In [87]:
a = lambda **kwargs : kwargs

In [88]:
a(a="dsf",v=342, c="fsd")

{'a': 'dsf', 'v': 342, 'c': 'fsd'}

# Scope of variable in python: Local vs Global

In [102]:
a = 10
print(a)

def func():
    global a
    a=15
    b = 5
    print(a)
    print(b)

func()    
print(a)

10
15
5
15

In [109]:
d = {1:3,3:6,2:4}

In [110]:
d

{1: 3, 3: 6, 2: 4}

In [111]:
{i:i**2 for i in range(0,10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [118]:
(i**2 for i in l)

In [119]:
tuple(i**2 for i in l)

(1, 4, 9, 16, 25, 36)

In [181]:
{i**2 for i in l}

{1, 4, 9, 16, 25, 36}

# Iterable vs Iterator

In [120]:
a = 10

for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [121]:
s = "akshay"

for i in s:
    print(i)

a
k
s
h
a
y

In [140]:
b = iter(s)

In [141]:
next(b)

'a'

In [150]:
a = iter([1,2,3,4,5])

In [153]:
next([1,2,3,4,5])

TypeError: 'list' object is not an iterator

In [155]:
next(b)

'k'

In [156]:
t = (1,2,3,4,5)

In [165]:
c=iter(t)

In [167]:
next(c)

2

In [168]:
d={1:'d',2:'r',6:'e'}

In [173]:
z = iter(d.items())

In [174]:
next(z)

(1, 'd')

In [175]:
se = {1,2,3,4,5,6}

In [177]:
sd = iter(se)

In [180]:
next(sd)

3

# Generator (09/01/2022)

In [2]:
range(0,5)

range(0, 5)

In [3]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [10]:
# Consume more time and memory to create list and then return
def gencube(n):
    out = []
    for i in range(n):
        out.append(i**3)
    return out

In [11]:
gencube(6)

[0, 1, 8, 27, 64, 125]

In [15]:
def gencubefast(n):
    for i in range(n):
        yield i**3

In [16]:
gencubefast(6)

In [17]:
for i in gencubefast(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [47]:
g = gencubefast(3)

In [48]:
def fibonacci(n):
    a = 0
    b = 1
    out = []
    for i in range(n):
        out.append(a)
        a,b = b, a+b
    return out

In [49]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [50]:
def genFibonacci(n):
    a = 0
    b = 1
    for i in range(n):
        yield i,a
        
        ### LOGIC: 1 ###
        a,b = b, a+b
        
        ### LOGIC: 2 ###
        # a_new = b
        # b = a + b
        # a = a_new

In [51]:
genFibonacci(10)

In [44]:
for i in genFibonacci(10):
    print(i)

(0, 0)
(1, 1)
(2, 1)
(3, 2)
(4, 3)
(5, 5)
(6, 8)
(7, 13)
(8, 21)
(9, 34)

In [52]:
def test(n):
    for i in range(n):
        print(i)

In [54]:
j = test(10)

0
1
2
3
4
5
6
7
8
9

In [56]:
print(j)

None

# File Handling

In [62]:
pwd()

'C:\\Users\\akshay.daga\\Jupyter Notebooks'

In [67]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

01/09/2022  11:57 AM    <DIR>          .
01/09/2022  11:57 AM    <DIR>          ..
01/08/2022  03:55 PM    <DIR>          .ipynb_checkpoints
12/29/2021  08:37 PM           237,672 FSDS #3.ipynb
01/09/2022  11:57 AM            38,916 FSDS #4.ipynb
12/31/2021  04:35 PM             7,578 Python #15.2 - BREAK vs PASS vs CONTINUE.ipynb
12/31/2021  03:57 PM             4,316 Python #16 - FOR... ELSE... Statement.ipynb
12/31/2021  04:07 PM         1,025,959 Python #17 - WHILE Loop.ipynb
01/08/2022  02:50 PM             8,385 Python #18 - Comprehensions (List, Tuple, Dict, Set).ipynb
01/08/2022  03:10 PM             8,721 Python #19 - Functions in python.ipynb
01/08/2022  03:33 PM             9,174 Python #20 - Functions with multiple arguments.ipynb
01/08/2022  03:49 PM             8,140 Python #21 - Functions with key-value pair arguments.ipynb
01/08/2022  04:26 PM             6,284 Python #22 - Lambda functions.ipynb
01/08/2022  04:44 PM            18,083 Python #23 - Iterable vs Iterator.ipynb
01/09/2022  11:54 AM                 0 test.txt
              12 File(s)      1,373,228 bytes
               3 Dir(s)  215,831,134,208 bytes free

In [69]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

01/09/2022  11:57 AM    <DIR>          .
01/09/2022  11:57 AM    <DIR>          ..
01/08/2022  03:55 PM    <DIR>          .ipynb_checkpoints
12/29/2021  08:37 PM           237,672 FSDS #3.ipynb
01/09/2022  11:57 AM            38,916 FSDS #4.ipynb
12/31/2021  04:35 PM             7,578 Python #15.2 - BREAK vs PASS vs CONTINUE.ipynb
12/31/2021  03:57 PM             4,316 Python #16 - FOR... ELSE... Statement.ipynb
12/31/2021  04:07 PM         1,025,959 Python #17 - WHILE Loop.ipynb
01/08/2022  02:50 PM             8,385 Python #18 - Comprehensions (List, Tuple, Dict, Set).ipynb
01/08/2022  03:10 PM             8,721 Python #19 - Functions in python.ipynb
01/08/2022  03:33 PM             9,174 Python #20 - Functions with multiple arguments.ipynb
01/08/2022  03:49 PM             8,140 Python #21 - Functions with key-value pair arguments.ipynb
01/08/2022  04:26 PM             6,284 Python #22 - Lambda functions.ipynb
01/08/2022  04:44 PM            18,083 Python #23 - Iterable vs Iterator.ipynb
01/09/2022  11:54 AM                 0 test.txt
              12 File(s)      1,373,228 bytes
               3 Dir(s)  215,831,068,672 bytes free

In [103]:
f = open("test.txt","w")

In [104]:
f.write("This is the first time I am writing into a file text.txt using python code.\nThis is 2nd line")

92

In [105]:
f.close()

# Another way to write data in file

In [79]:
%%writefile test1.txt
This is the 2nd file I am writing into using jupyter notebook using scripting approach using %%writefile test1.txt command.

Overwriting test1.txt

In [107]:
f = open("test.txt")

In [86]:
f.read()

'This is the first time I am writing into a file text.txt using python code.\n This is 2nd line'

In [87]:
f.write("sdfassfdsasf")

UnsupportedOperation: not writable

In [88]:
f.read()

''

In [89]:
f.read()

''

In [97]:
f.seek(5)

5

In [91]:
f.read()

'is the first time I am writing into a file text.txt using python code.\n This is 2nd line'

In [108]:
f.seek(0)
f.readlines()

['This is the first time I am writing into a file text.txt using python code.\n',
 'This is 2nd line']

In [109]:
f.seek(0)
f.readline()

'This is the first time I am writing into a file text.txt using python code.\n'

In [110]:
f.tell()

77

In [111]:
f.readline()

'This is 2nd line'

In [142]:
f = open("test1.txt","r+")

In [143]:
f.read()

'This is the 2nd file I am writing into using jupyter notebook using scripting approach using %%writefile test1.txt command.\nsdfaf\nsadf\nafsafd\nasafd\ndsaf\nsafdsasaf\nsadfsafsg\njgjhgjf\njhgjgfrte\ntffd'

In [118]:
f.seek(0)
f.readline()

'This is the 2nd file I am writing into using jupyter notebook using scripting approach using %%writefile test1.txt command.\n'

In [144]:
f.readline()

''

In [145]:
f.close()

In [148]:
f = open("test1.txt", "r+")
for line in f:
    print(line, end="")

This is the 2nd file I am writing into using jupyter notebook using scripting approach using %%writefile test1.txt command.
sdfaf
sadf
afsafd
asafd
dsaf
safdsasaf
sadfsafsg
jgjhgjf
jhgjgfrte
tffd

In [149]:
f.write("""This is the 2nd file I am writing into using jupyter notebook using 
scripting approach using %%writefile test1.txt command.
sdfaf
lin22222
""")

140

In [151]:
f.seek(0)
f.read()

'This is the 2nd file I am writing into using jupyter notebook using scripting approach using %%writefile test1.txt command.\nsdfaf\nsadf\nafsafd\nasafd\ndsaf\nsafdsasaf\nsadfsafsg\njgjhgjf\njhgjgfrte\ntffdThis is the 2nd file I am writing into using jupyter notebook using \nscripting approach using %%writefile test1.txt command.\nsdfaf\nlin22222\n'

In [152]:
f.seek(0)
f.write("123")

3

In [153]:
f.seek(0)
f.read()

'123s is the 2nd file I am writing into using jupyter notebook using scripting approach using %%writefile test1.txt command.\nsdfaf\nsadf\nafsafd\nasafd\ndsaf\nsafdsasaf\nsadfsafsg\njgjhgjf\njhgjgfrte\ntffdThis is the 2nd file I am writing into using jupyter notebook using \nscripting approach using %%writefile test1.txt command.\nsdfaf\nlin22222\n'

In [173]:
f.seek(0)
l = f.readlines()
# len(l[0].split()) # number of words in first paragraph / line
# len(l[0].split()[0]) # number of characters in first word


## Print 1st character of each word in the file

out = []

for line in l:                 #getting lines one by one in from file
    # print(j)
    for word in line.split():  #getting first character of each word
        # print(i[0])
        out.append(word[0])
    
print(out)

['1', 'i', 't', '2', 'f', 'I', 'a', 'w', 'i', 'u', 'j', 'n', 'u', 's', 'a', 'u', '%', 't', 'c', 's', 's', 'a', 'a', 'd', 's', 's', 'j', 'j', 't', 'i', 't', '2', 'f', 'I', 'a', 'w', 'i', 'u', 'j', 'n', 'u', 's', 'a', 'u', '%', 't', 'c', 's', 'l']

In [182]:
f = open("test3.txt","w+")
print(f.name)
print(f.fileno())

test3.txt
5

In [183]:
l = ["This is first line ", "This is 2nd line ", "This is 3rd line ", "This is 4th line "]

In [186]:
f.writelines(l)

In [188]:
f.seek(0)
f.read()

'This is first line This is 2nd line This is 3rd line This is 4th line This is first line This is 2nd line This is 3rd line This is 4th line '

In [189]:
f.close()

In [190]:
import os

In [191]:
os.remove("test3.txt")

In [192]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

01/09/2022  12:58 PM    <DIR>          .
01/09/2022  12:58 PM    <DIR>          ..
01/08/2022  03:55 PM    <DIR>          .ipynb_checkpoints
12/29/2021  08:37 PM           237,672 FSDS #3.ipynb
01/09/2022  12:57 PM            54,023 FSDS #4.ipynb
12/31/2021  04:35 PM             7,578 Python #15.2 - BREAK vs PASS vs CONTINUE.ipynb
12/31/2021  03:57 PM             4,316 Python #16 - FOR... ELSE... Statement.ipynb
12/31/2021  04:07 PM         1,025,959 Python #17 - WHILE Loop.ipynb
01/08/2022  02:50 PM             8,385 Python #18 - Comprehensions (List, Tuple, Dict, Set).ipynb
01/08/2022  03:10 PM             8,721 Python #19 - Functions in python.ipynb
01/08/2022  03:33 PM             9,174 Python #20 - Functions with multiple arguments.ipynb
01/08/2022  03:49 PM             8,140 Python #21 - Functions with key-value pair arguments.ipynb
01/08/2022  04:26 PM             6,284 Python #22 - Lambda functions.ipynb
01/08/2022  04:44 PM            18,083 Python #23 - Iterable vs Iterator.ipynb
01/09/2022  12:15 PM                93 test.txt
01/09/2022  12:30 PM               349 test1.txt
              13 File(s)      1,388,777 bytes
               3 Dir(s)  215,810,875,392 bytes free

In [200]:
pwd()

'C:\\Users\\akshay.daga\\Jupyter Notebooks'

In [193]:
os.listdir()

['.ipynb_checkpoints',
 'FSDS #3.ipynb',
 'FSDS #4.ipynb',
 'Python #15.2 - BREAK vs PASS vs CONTINUE.ipynb',
 'Python #16 - FOR... ELSE... Statement.ipynb',
 'Python #17 - WHILE Loop.ipynb',
 'Python #18 - Comprehensions (List, Tuple, Dict, Set).ipynb',
 'Python #19 - Functions in python.ipynb',
 'Python #20 - Functions with multiple arguments.ipynb',
 'Python #21 - Functions with key-value pair arguments.ipynb',
 'Python #22 - Lambda functions.ipynb',
 'Python #23 - Iterable vs Iterator.ipynb',
 'test.txt',
 'test1.txt']

In [215]:
## Write a python program to read all the .txt files from current directory 
## and write down all the content from those files into a new txt file

f1 = open("out.txt","w+")
for fname in os.listdir():
    if fname.split(".")[-1] == "txt":
        print(fname)
        f2 = open(fname,"r")
        f1.write(f2.read())
        f2.close()
        
f1.seek(0)
print(f1.read(), end="")
f1.close()

out.txt
test.txt
test1.txt
This is the first time I am writing into a file text.txt using python code.
This is 2nd line123s is the 2nd file I am writing into using jupyter notebook using scripting approach using %%writefile test1.txt command.
sdfaf
sadf
afsafd
asafd
dsaf
safdsasaf
sadfsafsg
jgjhgjf
jhgjgfrte
tffdThis is the 2nd file I am writing into using jupyter notebook using
scripting approach using %%writefile test1.txt command.
sdfaf
lin22222

In [216]:
f1 = open("out.txt","r+")
f1.read()
f1.close()