# Map, Reduce, Filter & Zip Operations in Python

## Map

In [1]:
l = [1,2,3,4,5]

In [4]:
#  increament each element from l by 5

l1 = []
for i in l:
    l1.append(i+5)
    
l1

[6, 7, 8, 9, 10]

In [6]:
[i+5 for i in l]

[6, 7, 8, 9, 10]

In [21]:
# map(func, *iterables):
# map function expects a function as a 1st argument and an iterable object as a 2nd argument

In [10]:
def test(a):
    return a+5

list(map(test,l))

[6, 7, 8, 9, 10]

In [13]:
# Square each element from l using map operation
def mysquare(a):
    return a**2

list(map(mysquare,l))

[1, 4, 9, 16, 25]

In [20]:
# conver each element from l1 into integer format

l1 = ['12','423','2342','2342','564','324']

list(map(int,l1))

[12, 423, 2342, 2342, 564, 324]

In [23]:
# using lambda and map function

list(map(lambda x: int(x), l1))

[12, 423, 2342, 2342, 564, 324]

## Filter

In [78]:
l = [4,2,87,5,7,3,2,8,6,4,6,9,5,3,57]

In [38]:
[i for i in l if i%2==0]

[4, 2, 2, 8, 6, 4, 6]

In [84]:
# filter(function or None, iterable) --> filter object

# Filter all even numbers
def isevennumber(a):
    if a%2 == 0:
        return a

list(filter(isevennumber,l))

[4, 2, 2, 8, 6, 4, 6]

In [80]:
list(filter(lambda x: x if (x%2==0) else None,l))

[4, 2, 2, 8, 6, 4, 6]

In [81]:
list(filter(lambda x: x%2==0, l))

[4, 2, 2, 8, 6, 4, 6]

In [83]:
# Difference between filter and map

list(map(lambda x: x%2==0, l))

[True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False]

## Reduce

In [44]:
from functools import reduce

In [52]:
l = [1,2,3,4,5,6,7,8,9,10]

In [50]:
sum(l)

55

In [58]:
# reduce(function, sequence[, initial]) -> value
# reduce function considers two numbers at a time and do the cumulative operations on it. 

def test(a,b):
    return a+b

reduce(test,l)

55

In [55]:
reduce(lambda x,y: x+y, l)

55

In [59]:
l=[1]
reduce(lambda x,y: x+y, l)

1

## Zip

In [63]:
# zip(*iterables) --> A zip object yielding tuples until an input is exhausted.

#    >>> list(zip('abcdefg', range(3), range(4)))
#    [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

In [64]:
l1 = [1,2,3,4,5]
l2 = ['a','b','c','d','e']

z = zip(l1,l2)
list(z)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [66]:
l1 = [1,2,3,4,5]
l2 = ['a','b','c','d']
l3 = [4,3,2]

z = zip(l1,l2,l3)
list(z)

[(1, 'a', 4), (2, 'b', 3), (3, 'c', 2)]

# Homework

dataset: https://archive.ics.uci.edu/ml/machine-learning-databases/bag-of-words/

1. Try to find out a count of each and every word in respective file return a list of tuple with word and its count.    
Eg. [('akshay',6),('daga',4)]
2. Try to perform a reduce operation to get a count of all the word starting with same alphabet.    
Eg. [('a',56),('b',76),('c',45),....]
3. Try to filter out all the words from dataset.    
Eg. .001.abstract => abstract    
=.002. => deleted
4. Create a tuple set of all the records available in all the five file and then store it in sqlite DB.    
Eg. (aah, >=, 354, fdws, wer)