# SQLite Connection using Python

SQLite is in-memory database, for light weight application to store structured data locally on your system (desktop / mobile)

In [1]:
import sqlite3

In [2]:
# create a dabase file locally
db = sqlite3.connect("apdaga.db")

In [11]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

02/20/2022  10:45 AM    <DIR>          .
02/20/2022  10:45 AM    <DIR>          ..
02/20/2022  10:25 AM    <DIR>          .ipynb_checkpoints
01/22/2022  11:07 AM    <DIR>          __pycache__
02/20/2022  10:45 AM             8,192 apdaga.db
02/20/2022  10:44 AM             5,779 FSDS #14 - SQLite Connection.ipynb
02/06/2022  02:39 PM               576 Python #35 - Abstraction.ipynb
02/06/2022  02:39 PM               576 Python #36 - Polymosphism.ipynb
02/20/2022  10:34 AM    <DIR>          Uploaded
               4 File(s)         15,123 bytes
               5 Dir(s)  196,424,077,312 bytes free

In [4]:
c = db.cursor()

In [5]:
# Create table
c.execute('create table fsds(name text, batchid int, marks real)')

In [6]:
c.execute("insert into fsds values('akshay', 123, 99.0)")

In [7]:
c.execute("insert into fsds values('akshay', 123, 99.0)")
c.execute("insert into fsds values('akshay', 123, 99.0)")
c.execute("insert into fsds values('akshay', 123, 99.0)")
c.execute("insert into fsds values('akshay', 123, 99.0)")
c.execute("insert into fsds values('akshay', 123, 99.0)")
c.execute("insert into fsds values('akshay', 123, 99.0)")
c.execute("insert into fsds values('akshay', 123, 99.0)")

In [8]:
# Select operation
data = c.execute("select * from fsds")

In [9]:
for i in data:
    print(i)

('akshay', 123, 99.0)
('akshay', 123, 99.0)
('akshay', 123, 99.0)
('akshay', 123, 99.0)
('akshay', 123, 99.0)
('akshay', 123, 99.0)
('akshay', 123, 99.0)
('akshay', 123, 99.0)

In [10]:
# Commit operation
db.commit()

In [12]:
# Close db connection
db.close()

In [14]:
# Connecting to existing db
db = sqlite3.connect("apdaga.db")
c = db.cursor()

In [20]:
# Show Tables 
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('fsds',)]

In [22]:
data = c.execute("SELECT * FROM fsds where marks>90")
print(c.fetchall())

# for i in data:
#     print(i)

[('akshay', 123, 99.0), ('akshay', 123, 99.0), ('akshay', 123, 99.0), ('akshay', 123, 99.0), ('akshay', 123, 99.0), ('akshay', 123, 99.0), ('akshay', 123, 99.0), ('akshay', 123, 99.0)]

In [23]:
db.close()

In [24]:
# Create a new database / table
db = sqlite3.connect("person.db")
c = db.cursor()

In [25]:
c.execute("create table person_table(name text, emailid text, age int, salary real)")

In [26]:
c.execute("insert into person_table values('akshay', 'apdaga@gmail.com', 29, 12345)")
c.execute("insert into person_table values('ketan', 'ketan@gmail.com', 31, 123453)")
c.execute("insert into person_table values('prayas', 'prayas@gmail.com', 30, 1235)")
c.execute("insert into person_table values('sagar', 'sagar@gmail.com', 30, 2345)")
c.execute("insert into person_table values('bhushan', 'bhushan@gmail.com', 29, 1345)")

In [29]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

02/20/2022  10:59 AM    <DIR>          .
02/20/2022  10:59 AM    <DIR>          ..
02/20/2022  10:25 AM    <DIR>          .ipynb_checkpoints
01/22/2022  11:07 AM    <DIR>          __pycache__
02/20/2022  10:45 AM             8,192 apdaga.db
02/20/2022  10:58 AM             8,196 FSDS #14 - SQLite Connection.ipynb
02/20/2022  10:59 AM             8,192 person.db
02/06/2022  02:39 PM               576 Python #35 - Abstraction.ipynb
02/06/2022  02:39 PM               576 Python #36 - Polymosphism.ipynb
02/20/2022  10:34 AM    <DIR>          Uploaded
               5 File(s)         25,732 bytes
               5 Dir(s)  196,365,410,304 bytes free

In [28]:
db.commit()

In [30]:
data = c.execute("SELECT * FROM person_table")
for i in data:
    print(i)

('akshay', 'apdaga@gmail.com', 29, 12345.0)
('ketan', 'ketan@gmail.com', 31, 123453.0)
('prayas', 'prayas@gmail.com', 30, 1235.0)
('sagar', 'sagar@gmail.com', 30, 2345.0)
('bhushan', 'bhushan@gmail.com', 29, 1345.0)

In [31]:
db.close()

In [32]:
# Drop table operation

db = sqlite3.connect("apdaga.db")
c = db.cursor()

c.execute("drop table fsds")

In [33]:
c.execute("select * FROM fsds")

OperationalError: no such table: fsds

In [43]:
# Create 2 tables in 1 database
c.execute('create table student(id int, name text, batchid int, marks real)')
c.execute('create table address(id int, pincode int, location text, phone int)')

In [44]:
# Show Tables 
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('student',), ('address',)]

In [45]:
c.execute("insert into student values(1, 'akshay', 123, 90)")
c.execute("insert into student values(2, 'daga', 123, 87)")
c.execute("insert into student values(3, 'yojana', 123, 94)")
c.execute("insert into student values(4, 'purvesh', 123, 98)")

In [46]:
c.execute("insert into address values(1, 444606, 'amravati', 123456567)")
c.execute("insert into address values(2, 444606, 'amravati', 987654456)")
c.execute("insert into address values(3, 404606, 'akola', 987655679)")
c.execute("insert into address values(4, 411606, 'pune', 567898765)")

In [47]:
for i in c.execute("SELECT * FROM student inner join address on student.id = address.id"):
    print(i)

(1, 'akshay', 123, 90.0, 1, 444606, 'amravati', 123456567)
(2, 'daga', 123, 87.0, 2, 444606, 'amravati', 987654456)
(3, 'yojana', 123, 94.0, 3, 404606, 'akola', 987655679)
(4, 'purvesh', 123, 98.0, 4, 411606, 'pune', 567898765)

In [49]:
# Update operation
c.execute("update student set id = 5 where id = 4")

In [50]:
for i in c.execute("select * from student"):
    print(i)

(1, 'akshay', 123, 90.0)
(2, 'daga', 123, 87.0)
(3, 'yojana', 123, 94.0)
(5, 'purvesh', 123, 98.0)

In [51]:
db.commit()
db.close()