# SQLite connection using Python

In [2]:
import sqlite3

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

02/20/2022  05:00 PM    <DIR>          .
02/20/2022  05:00 PM    <DIR>          ..
02/20/2022  05:00 PM    <DIR>          .ipynb_checkpoints
01/22/2022  11:07 AM    <DIR>          __pycache__
02/20/2022  04:51 PM            15,644 FSDS #14 - SQLite Connection.ipynb
02/20/2022  01:17 PM            10,792 FSDS #15 - Map, Reduce, Filter, Zip Operations.ipynb
02/06/2022  02:39 PM               576 Python #35 - Abstraction.ipynb
02/06/2022  02:39 PM               576 Python #36 - Polymosphism.ipynb
02/20/2022  05:00 PM               712 Python #41 - Connect to SQLite.ipynb
02/20/2022  04:57 PM    <DIR>          Uploaded
               5 File(s)         28,300 bytes
               5 Dir(s)  197,826,699,264 bytes free

In [4]:
# create new database
db = sqlite3.connect("apdaga.db")

In [5]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

02/20/2022  05:03 PM    <DIR>          .
02/20/2022  05:03 PM    <DIR>          ..
02/20/2022  05:00 PM    <DIR>          .ipynb_checkpoints
01/22/2022  11:07 AM    <DIR>          __pycache__
02/20/2022  05:03 PM                 0 apdaga.db
02/20/2022  04:51 PM            15,644 FSDS #14 - SQLite Connection.ipynb
02/20/2022  01:17 PM            10,792 FSDS #15 - Map, Reduce, Filter, Zip Operations.ipynb
02/06/2022  02:39 PM               576 Python #35 - Abstraction.ipynb
02/06/2022  02:39 PM               576 Python #36 - Polymosphism.ipynb
02/20/2022  05:00 PM               712 Python #41 - Connect to SQLite.ipynb
02/20/2022  04:57 PM    <DIR>          Uploaded
               6 File(s)         28,300 bytes
               5 Dir(s)  197,825,863,680 bytes free

In [6]:
c = db.cursor()

In [7]:
# Create Table
c.execute("create table akshay(id int, name text, mob text, marks real)")

In [8]:
# Insert Query
c.execute("insert into akshay values(1, 'akshay', '1234567890', 98.99)")

In [9]:
c.execute("insert into akshay values(2, 'yojana', '987654332', 45.99)")
c.execute("insert into akshay values(3, 'ketan', '3456789765', 78.99)")
c.execute("insert into akshay values(4, 'prayas', '3456787654', 76.99)")
c.execute("insert into akshay values(5, 'sagar', '76543234567', 87.99)")

In [10]:
# Search / Query Operation
c.execute("SELECT * FROM akshay")

In [11]:
c.fetchall()

[(1, 'akshay', '1234567890', 98.99),
 (2, 'yojana', '987654332', 45.99),
 (3, 'ketan', '3456789765', 78.99),
 (4, 'prayas', '3456787654', 76.99),
 (5, 'sagar', '76543234567', 87.99)]

In [12]:
data = c.execute("SELECT * FROM akshay")

for i in data:
    print(i)

(1, 'akshay', '1234567890', 98.99)
(2, 'yojana', '987654332', 45.99)
(3, 'ketan', '3456789765', 78.99)
(4, 'prayas', '3456787654', 76.99)
(5, 'sagar', '76543234567', 87.99)

In [13]:
for i in c.execute("SELECT * FROM akshay"):
    print(i)

(1, 'akshay', '1234567890', 98.99)
(2, 'yojana', '987654332', 45.99)
(3, 'ketan', '3456789765', 78.99)
(4, 'prayas', '3456787654', 76.99)
(5, 'sagar', '76543234567', 87.99)

In [14]:
# Filter Operation
for  i in c.execute("SELECT * FROM akshay WHERE marks > 80"):
    print(i)

(1, 'akshay', '1234567890', 98.99)
(5, 'sagar', '76543234567', 87.99)

In [15]:
# Create Table
c.execute("create table address(id int, location text, pincode text)")

In [17]:
# Insert Records
c.execute("insert into address values(1, 'amravati', '444606')")
c.execute("insert into address values(2, 'akola', '405606')")
c.execute("insert into address values(3, 'pune', '411606')")

In [18]:
for i in c.execute("select * from address"):
    print(i)

(1, 'amravati', '444606')
(2, 'akola', '405606')
(3, 'pune', '411606')

In [19]:
# Show Table Query in SQLite
for i in c.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(i)

('akshay',)
('address',)

In [20]:
for i in c.execute("SELECT * FROM akshay inner join address on akshay.id = address.id"):
    print(i)

(1, 'akshay', '1234567890', 98.99, 1, 'amravati', '444606')
(2, 'yojana', '987654332', 45.99, 2, 'akola', '405606')
(3, 'ketan', '3456789765', 78.99, 3, 'pune', '411606')

In [21]:
for i in c.execute("SELECT * FROM akshay left join address on akshay.id = address.id"):
    print(i)

(1, 'akshay', '1234567890', 98.99, 1, 'amravati', '444606')
(2, 'yojana', '987654332', 45.99, 2, 'akola', '405606')
(3, 'ketan', '3456789765', 78.99, 3, 'pune', '411606')
(4, 'prayas', '3456787654', 76.99, None, None, None)
(5, 'sagar', '76543234567', 87.99, None, None, None)

In [23]:
# Update Operation
c.execute("update address set pincode = '411037' where id=3")

In [24]:
for i in c.execute("select * from address"):
    print(i)

(1, 'amravati', '444606')
(2, 'akola', '405606')
(3, 'pune', '411037')

In [25]:
# Delete Record Operation
c.execute("DELETE FROM akshay WHERE name='sagar';")

In [26]:
for i in c.execute("select * from akshay"):
    print(i)

(1, 'akshay', '1234567890', 98.99)
(2, 'yojana', '987654332', 45.99)
(3, 'ketan', '3456789765', 78.99)
(4, 'prayas', '3456787654', 76.99)

In [27]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

02/20/2022  05:22 PM    <DIR>          .
02/20/2022  05:22 PM    <DIR>          ..
02/20/2022  05:00 PM    <DIR>          .ipynb_checkpoints
01/22/2022  11:07 AM    <DIR>          __pycache__
02/20/2022  05:05 PM             8,192 apdaga.db
02/20/2022  05:06 PM                 0 apdaga.db-journal
02/20/2022  04:51 PM            15,644 FSDS #14 - SQLite Connection.ipynb
02/20/2022  01:17 PM            10,792 FSDS #15 - Map, Reduce, Filter, Zip Operations.ipynb
02/06/2022  02:39 PM               576 Python #35 - Abstraction.ipynb
02/06/2022  02:39 PM               576 Python #36 - Polymosphism.ipynb
02/20/2022  05:22 PM            12,204 Python #41 - Connect to SQLite.ipynb
02/20/2022  04:57 PM    <DIR>          Uploaded
               7 File(s)         47,984 bytes
               5 Dir(s)  197,753,323,520 bytes free

In [28]:
db.commit()

In [29]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D8FC-E3B8

 Directory of C:\Users\akshay.daga\Jupyter Notebooks

02/20/2022  05:23 PM    <DIR>          .
02/20/2022  05:23 PM    <DIR>          ..
02/20/2022  05:00 PM    <DIR>          .ipynb_checkpoints
01/22/2022  11:07 AM    <DIR>          __pycache__
02/20/2022  05:23 PM            12,288 apdaga.db
02/20/2022  04:51 PM            15,644 FSDS #14 - SQLite Connection.ipynb
02/20/2022  01:17 PM            10,792 FSDS #15 - Map, Reduce, Filter, Zip Operations.ipynb
02/06/2022  02:39 PM               576 Python #35 - Abstraction.ipynb
02/06/2022  02:39 PM               576 Python #36 - Polymosphism.ipynb
02/20/2022  05:22 PM            12,204 Python #41 - Connect to SQLite.ipynb
02/20/2022  04:57 PM    <DIR>          Uploaded
               6 File(s)         52,080 bytes
               5 Dir(s)  197,752,143,872 bytes free

In [30]:
# Drop Table Operation
c.execute("drop table address")

In [31]:
for i in c.execute("select name from sqlite_master where type='table'"):
    print(i)

('akshay',)

In [32]:
c.close()