# For Loop

In [1]:
s = "apdaga.dumpbox"

In [2]:
s

'apdaga.dumpbox'

In [4]:
for char in s:
    print(char)

a
p
d
a
g
a
.
d
u
m
p
b
o
x

In [13]:
# var = [232, 434, 'sdf', True, 3.5]  # list
# var = (232, 434, 'sdf', True, 3.5)  # Tuple
# var = {232, 434, 'sdf', True, 3.5}  # Set
var = {'a':1, 'b':2, 'c': 3}          # dict

In [14]:
for i in var:
    print(i)

a
b
c

In [15]:
for i in var.keys():
    print(i)

a
b
c

In [16]:
for i in var.values():
    print(i)

1
2
3

In [17]:
for k,v in var.items():
    print(k,v)

a 1
b 2
c 3

In [20]:
l2 = [1,32,4.5,'akshay', [2,3,5]]

for i in l2:
    print(i)

1
32
4.5
akshay
[2, 3, 5]

In [21]:
l2 = [1,32,4.5,'akshay', [2,3,5]]

for i in l2:
    if type(i) == list:
        for j in i:
            print(j)
    else:
        print(i)

1
32
4.5
akshay
2
3
5

In [25]:
# Extract all the integer elements from given list

l3 = [1,2,3,4,5.7,'akshay', True, 'daga']
l3

[1, 2, 3, 4, 5.7, 'akshay', True, 'daga']

In [28]:
out = []

for e in l3:
    if type(e) == str:
        out.append(e)
        
print(out)

['akshay', 'daga']