In [1]:
# float to others

In [3]:
f = 13.5
f

13.5

In [4]:
# float -> int, str, complex, bool
x = int(f)
x

13

In [5]:
s = str(f)
s

'13.5'

In [7]:
c = complex(f,45)
c

(13.5+45j)

In [8]:
## bool -> int
# True -> 1
# False -> 0

## int / float -> bool
# 0 / 0.0 -> False
# Any Other vale -> True

In [9]:
b = bool(f)
b

True

In [10]:
# Complex -> int, float, str, bool

In [11]:
c = 3+4j
c

(3+4j)

In [12]:
x = int(c)
x

TypeError: can't convert complex to int

In [13]:
c

(3+4j)

In [14]:
c.real

3.0

In [15]:
c.imag

4.0

In [16]:
f = float(c)
f

TypeError: can't convert complex to float

In [17]:
s = str(c)
s

'(3+4j)'

In [18]:
b = bool(c)
b

True

In [19]:
bool(0+0j)

False

In [20]:
# Bool -> int, float, str, complex

b1 = True
b2 = False

x1 = int(b1)
x1

1

In [21]:
x2 = int(b2)
x2

0

In [22]:
f1 = float(b1)
f1

1.0

In [23]:
f2 = float(b2)
f2

0.0

In [24]:
s1 = str(b1)
s1

'True'

In [25]:
s2 = str(b2)
s2

'False'

In [26]:
c1 = complex(b1)
c1

(1+0j)

In [27]:
c2 = complex(b2,b1)
c2

1j

In [28]:
# str -> int , float, complex, bool

In [29]:
s1 = "Akshay"
s2 = "12"
s3 = "45.2"
s4 = "Akshay25"

In [30]:
int(s1)

ValueError: invalid literal for int() with base 10: 'Akshay'

In [31]:
int(s2)

12

In [32]:
int(s3)

ValueError: invalid literal for int() with base 10: '45.2'

In [34]:
int(s4)

ValueError: invalid literal for int() with base 10: 'Akshay25'

In [35]:
float(s1)

ValueError: could not convert string to float: 'Akshay'

In [36]:
float(s2)

12.0

In [37]:
float(s3)

45.2

In [38]:
# "45.2" -> 45

int(float(s3))

45

In [39]:
float(s4)

ValueError: could not convert string to float: 'Akshay25'

In [44]:
complex(s1)

ValueError: complex() arg is a malformed string

In [45]:
complex(s2)

(12+0j)

In [46]:
complex(s3)

(45.2+0j)

In [47]:
complex(s2,s3)

TypeError: complex() can't take second arg if first is a string

In [48]:
complex(float(s2),float(s3))

(12+45.2j)

In [49]:
complex(s4)

ValueError: complex() arg is a malformed string

In [50]:
s5 = "34+8j"
s5

'34+8j'

In [51]:
complex(s5)

(34+8j)

In [52]:
# (+) operation on all the data types

In [53]:
# int + int = int (sum)
# float + float = float (sum)
# int + float = float (sum)
# str + str = str (concatination)
# str + int = Error
# str + float = Error
# str + complex = Error
# str + bool = Error

In [54]:
5 + 7

12

In [55]:
23.4 + 53.3

76.69999999999999

In [56]:
23.5 + 7

30.5

In [57]:
"Akshay" + "Daga"

'AkshayDaga'

In [58]:
"Akshay"+5

TypeError: can only concatenate str (not "int") to str

In [59]:
"Akshay"+str(5)

'Akshay5'

In [60]:
"Akshay"+12.5

TypeError: can only concatenate str (not "float") to str

In [61]:
"Akshay"+str(12.5)

'Akshay12.5'

In [62]:
"Akshay" + (3+4j)

TypeError: can only concatenate str (not "complex") to str

In [63]:
"Akshay" + str(3+4j)

'Akshay(3+4j)'

In [64]:
"Akshay" + True

TypeError: can only concatenate str (not "bool") to str

In [65]:
"Akshay" + str(True)

'AkshayTrue'

In [66]:
## (*) operation on all datatypes
# int * int = int (mul)
# float * float = float (mul)
# float * int = float (mul)
# str * str = Error
# str * int = Replication
# str * float = Error
# str * complex = -----
# str * bool = -----

In [67]:
5*4

20

In [68]:
23.2 * 2.1

48.72

In [69]:
12.3 * 3

36.900000000000006

In [70]:
"Akshay" * "Daga"

TypeError: can't multiply sequence by non-int of type 'str'

In [71]:
"Akshay" * "2"

TypeError: can't multiply sequence by non-int of type 'str'

In [72]:
"Akshay" * 3

'AkshayAkshayAkshay'

In [73]:
"Akshay" * 3.2

TypeError: can't multiply sequence by non-int of type 'float'

In [74]:
"Akshay" * int(3.2)

'AkshayAkshayAkshay'

In [75]:
"Akshay" * (3+2j)

TypeError: can't multiply sequence by non-int of type 'complex'

In [76]:
"Akshay" * True

'Akshay'

In [77]:
"Akshay" * False

''

In [78]:
"Akshay" * -2

''