# For Loop

In [1]:
# Whenever you want to repeat the similar task again and again 
# on a loop then you use some kind of loop mechanism in python.
# 1. For
# 2. While

In [2]:
l = [3,5,1,2,6]
l

[3, 5, 1, 2, 6]

In [3]:
# for <condition>:
#     line1
#     line2
#     line3
    
# line4

In [7]:
for i in l:
    print(i)

3
5
1
2
6

In [8]:
# print the square of each number given in the list l

for i in l:
    print(i**2)

9
25
1
4
36

In [9]:
t = (2,1,6,3,7)

for i in t:
    print(i)

2
1
6
3
7

In [10]:
s = "Harsh"

for i in s:
    print(i)

H
a
r
s
h

In [11]:
s1 = {5,3,1,3,5,23,4,2}

for i in s1:
    print(i)

1
2
3
4
5
23

In [13]:
d = {1:"one", 2:"two", 3:"three", 4:"four", 5:"five"}
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [14]:
for i in d:
    print(i)

1
2
3
4
5

In [18]:
for k in d.keys():
    print(k)

1
2
3
4
5

In [19]:
for v in d.values():
    print(v)

one
two
three
four
five

In [20]:
for k,v in d.items():
    print(k,v)

1 one
2 two
3 three
4 four
5 five

In [22]:
# We have seen how to apply for loop on 
# list, tuple, set, string & dictionary

In [23]:
# Q. Print all the numbers between 0 to 10 using for loop

In [24]:
range(10) # 0,1,2,3,4,5,6,7,8,9

range(0, 10)

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(2,10,2))

[2, 4, 6, 8]

In [31]:
# Q. Print all the numbers between 0 to 10 using for loop

for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [32]:
# Q. Print all the numbers between 3 to 10 using for loop

for i in range(3,11):
    print(i)

3
4
5
6
7
8
9
10

In [33]:
# Q. Print all the numbers between 2 to 10 incremented by 3 
# using for loop

for i in range(2,10,3):
    print(i)

2
5
8

In [36]:
l = ['a','b','c','d','e','f']

for i in range(len(l)):
    print(i, l[i])

0 a
1 b
2 c
3 d
4 e
5 f

# Nested for loop

In [37]:
# for loop within another for loop

In [38]:
l = [1,2,3,4,5,[6,7,8]]

for i in l:
    print(i)

1
2
3
4
5
[6, 7, 8]

In [40]:
for i in l:
    if type(i)==int:
        print(i)
    elif type(i)==list:
        for j in i:
            print(j)

1
2
3
4
5
6
7
8

In [41]:
l1 = [232,44.3,'akshay',41,True,[4,3,7,2,'daga'],5,(2.3,6,4),'harsh']

In [42]:
# 1. Print all the integer elements from l (ignore nested list/tuple)

# 2. print all the integers from l 
# (even if it inside nested list/tuple)

# 3. print all the charecter seperately from l 
# (even if it inside nested list/tuple)

# 4. create a new list having all the string elements from given list
# (even if it inside nested list/tuple)
# Expected output: ['akshay', 'daga', 'harsh']

In [43]:
# 1. Print all the integer elements from l (ignore nested list/tuple)
for i in l1:
    if type(i)==int:
        print(i)

232
41
5

In [49]:
# 2. print all the integers from l 
# (even if it inside nested list/tuple)

## Solution 1
# for i in l1:
#     if type(i)==int:
#         print(i)
#     elif (type(i)==list) or (type(i)==tuple):
#         for j in i:
#             if type(j)==int:
#                 print(j)
                
## Solution 2                
for i in l1:
    if type(i)==int:
        print(i)
    elif type(i) in (list,tuple):
        for j in i:
            if type(j)==int:
                print(j)

232
41
4
3
7
2
5
6
4

# H.W

In [50]:
l1 = [232,44.3,'akshay',41,True,[4,3,7,2,'daga'],5,(2.3,6,4),'harsh']

# 3. print all the charecter seperately from l1 
# (even if it inside nested list/tuple)

# 4. create a new list having all the string elements from given list
# (even if it inside nested list/tuple)
# Expected output: ['akshay', 'daga', 'harsh']

In [51]:
# Exercise 1: Print First 10 natural numbers using while loop
# Exercise 2: Print the following pattern
# Exercise 3: Calculate the sum of all numbers from 1 to a given number
# Exercise 4: Write a program to print multiplication table of a given number
# Exercise 5: Display numbers from a list using loop
# Exercise 6: Count the total number of digits in a number
# Exercise 7: Print the following pattern
# Exercise 8: Print list in reverse order using a loop
# Exercise 9: Display numbers from -10 to -1 using for loop
# Exercise 10: Use else block to display a message “Done” after successful execution of for loop
# Exercise 11: Write a program to display all prime numbers within a range
# Exercise 12: Display Fibonacci series up to 10 terms
# Exercise 13: Find the factorial of a given number
# Exercise 14: Reverse a given integer number
# Exercise 15: Use a loop to display elements from a given list present at odd index positions
# Exercise 16: Calculate the cube of all numbers from 1 to a given number
# Exercise 17: Find the sum of the series upto n terms
# Exercise 18: Print the following pattern