# Answer to dictionary question

In [3]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [2]:
# Print the marks in history
# print the name of the subjects student applied for
# print the average of marks student got in all the subjects

In [8]:
# 1. Print the marks in history
sampleDict['class']['student']['marks']['history']

80

In [13]:
# 2. print the name of the subjects student applied for
sampleDict['class']['student']['marks'].keys()

dict_keys(['physics', 'history'])

In [24]:
# 3. print the average of marks student got in all the subjects
total = sum(sampleDict['class']['student']['marks'].values())
length = len(sampleDict['class']['student']['marks'].values())

avg = total / length
avg

75.0

# IF ELSE

In [25]:
True

True

In [26]:
False

False

In [27]:
a = 5

In [28]:
a

5

In [29]:
a > 10

False

In [30]:
a < 10

True

In [33]:
if (a>10):
    print("a is greater than 10")
    print(1)
    print(2)
else:
    print("a is smaller than 10")
    print(3)
    print(4)
    
print("this")

a is smaller than 10
3
4
this

In [34]:
if (a<10):
    print("a is greater than 10")
    print(1)
    print(2)
else:
    print("a is smaller than 10")
    print(3)
    print(4)
    
print("this")

a is greater than 10
1
2
this

In [35]:
# if - else if - else
# if - elif - else

In [37]:
mark = int(input("Enter mark between 0 to 100: "))

if (mark > 70):
    print('A')
elif(mark <= 70) and (mark > 50):
    print('B')
elif (mark <= 50) and (mark > 35):
    print('C')
else:
    print('F')

Enter mark between 0 to 100: 45
C

In [39]:
# Q1. get a 4 digit ATM pin from user, if the entered pin is 1234 
# then print entered pin is correct otherwise print wrong pin entered

In [42]:
atm_pin = int(input("Enter atm_pin please: "))

if atm_pin == 1234:
    print("You entered the correct pin")
else:
    print("You entered the wrong pin")

Enter atm_pin please: 2345
You entered the wrong pin

In [40]:
# Q2. marks grading system
# get marks from the user between 0 to 100
# A+ : >=95
# A  : >=90 - 95
# B  : >=75 - 90
# C  : >=50 - 75
# D  : >=35 - 50
# F  : <35

In [43]:
marks = int(input("Enter marks between 0 to 100: "))

if (marks >= 95) and (marks <= 100):
    print('A+')
elif(marks < 95) and (marks >= 90):
    ptint('A')
elif(marks < 90) and (marks >= 75):
    print('B')
elif(marks < 75) and (marks >= 50):
    print('C')
elif(marks < 50) and (marks >= 35):
    print('D')
elif (marks < 35) and (marks >= 0):
    print('F')
else:
    print("You entered the Wrong Value: ")

Enter marks between 0 to 100: 63
C

In [41]:
# Q3. marks grading system (marks & attendance)
# if student have more than 70% attendance then provide grade 
# as given below otherwise print "failed due to low attendance"

# A+ : >=95
# A  : >=90 - 95
# B  : >=75 - 90
# C  : >=50 - 75
# D  : >=35 - 50
# F  : <35

In [45]:
marks = int(input("Enter marks between 0 to 100: "))
att = int(input("Enter the attendace between 0 to 100: "))

if (att > 70):
    if (marks >= 95) and (marks <= 100):
        print('A+')
    elif(marks < 95) and (marks >= 90):
        ptint('A')
    elif(marks < 90) and (marks >= 75):
        print('B')
    elif(marks < 75) and (marks >= 50):
        print('C')
    elif(marks < 50) and (marks >= 35):
        print('D')
    elif (marks < 35) and (marks >= 0):
        print('F')
    else:
        print("You entered the Wrong Value: ")
else:
    print("Failed due to low attendance")

Enter marks between 0 to 100: 54
Enter the attendace between 0 to 100: 80
C

In [ ]:
##### LEVEL: 1
# 1.
# A company decided to give bonus of 5% to employee if his/her year 
# of service is more than 5 years. Ask user for their salary and 
# year of service and print the net bonus amount.

# 2.
# Take values of length and breadth of a rectangle from user 
# and check if it is square or not.

# 3.
# Take two int values from user and print greatest among them.

# 4.
# A shop will give discount of 10% if the cost of purchased 
# quantity is more than 1000. Ask user for quantity
# Suppose, one unit will cost 100.
# Judge and print total cost for user.

# 5.
# A school has following rules for grading system:
# a. Below 25 - F
# b. 25 to 45 - E
# c. 45 to 50 - D
# d. 50 to 60 - C
# e. 60 to 80 - B
# f. Above 80 - A
# Ask user to enter marks and print the corresponding grade.

# 6.
# Take input of age of 3 people by user and determine oldest and 
# youngest among them.

# 7.
# Write a program to print absolute vlaue of a number entered 
# by user. E.g.-
# INPUT: 1        OUTPUT: 1
# INPUT: -1        OUTPUT: 1

# 8.
# A student will not be allowed to sit in exam if his/her 
# attendence is less than 75%.
# Take following input from user
# Number of classes held
# Number of classes attended.
# And print
# percentage of class attended
# Is student is allowed to sit in exam or not.

# 9.
# Modify the above question to allow student to sit if he/she has 
# medical cause. Ask user if he/she has medical cause or not 
# ( 'Y' or 'N' ) and print accordingly.

##### LEVEL: 2
    
# 1.Write a program to check if a year is leap year or not.
# If a year is divisible by 4 then it is leap year but if the 
# year is century year like 2000, 1900, 2100 then it must be 
# divisible by 400.



# 2.Ask user to enter age, sex ( M or F ), marital status ( Y or N ) 
# and then using following rules print their place of service.

# if employee is female, then she will work only in urban areas.

# if employee is a male and age is in between 20 to 40 then he may 
# work in anywhere

# if employee is male and age is in between 40 t0 60 then he 
# will work in urban areas only.

# And any other input of age should print "ERROR".



# 3.A 4 digit number is entered through keyboard. Write a program 
# to print a new number with digits reversed as of orignal 
# one. E.g.-

# INPUT : 1234        OUTPUT : 4321
# INPUT : 5982        OUTPUT : 2895